* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  transform: translateY(-100px); /* Verschiebt den gesamten Inhalt */
  background-image: url(./assets/texture-4856104_1920.jpg);
  background-size: cover;
}

.tafel {
  background-image: url(./assets/TAFEL.png);
  width: 350px;
  height: 376px;
  background-size: cover;
  box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.62);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 100%;
  max-width: 350px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.board {
  margin-top: 230px;
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(3, 70px);
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.cell {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell img {
  width: 80%;
  height: 80%;
}

#status {
  font-size: 1.2em;
  margin: 20px;
  margin-top: 50px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.btn-76 {
  --neon: #ff3434;
  box-sizing: border-box;
  display: flex; /* Flexbox aktiviert */
  justify-content: center; /* Horizontale Zentrierung */
  align-items: center; /* Vertikale Zentrierung */
  font-weight: 900;
  outline: 4px solid #fff;
  outline-offset: -4px;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s linear 0.1s;
  background-color: transparent;
  color: #fff;
  border-radius: 8px; /* Optionale abgerundete Ecken */
  background-color: rgba(0, 0, 0, 0.62);
}

.btn-76:hover {
  background: var(--neon);
  box-shadow: 0 0 5px var(--neon), 0 0 25px var(--neon), 0 0 50px var(--neon),
      0 0 100px var(--neon);
  color: #fff;
  outline-color: transparent;
  transition: 0.2s linear 0.6s;
}

.btn-76 span {
  display: block;
}

.info {
  margin-top: 50px;
  font-size: 1em;
}

p {
  color: #fff;
  font-family: monospace;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
